[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
psycopg2-binary = "*"
dj-database-url = "*"
collectfast = "*"
django-ordered-model = "*"
pillow = "*"
gunicorn = "*"
# django-s3-folder-storage = "*"
# django-storages = "*"
# sentry-sdk = "*"

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
ipython = "*"
codecov = "*"
model-mommy = "*"
model-bakery = "*"
django-debug-toolbar = "*"
django-extensions = "*"
mock = "*"

[requires]
python_version = "3.11"
