{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<div class="container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Página Inicial</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Instagram da loja</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Produtos</a>
    <a href="#" class="cart">Carrinho <span>0</span></a>

    
  </nav>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start">


    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img src="{% static 'img/real.ico' %}" alt="">
        Real Madrid
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img src="{% static 'img/ADM.ico' %}" alt="">
        Atletico de Madrid
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img src="{% static 'img/Arsenal.ico' %}" alt="">
        Arsenal
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img src="{% static 'img/blus.ico' %}" alt="">
        Chelsea
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img src="{% static 'img/cruzeiro.ico' %}" alt="">
        Cruzeiro
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img src="{% static 'img/galo.ico' %}" alt="">
        Atletico Mineiro 
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img src="{% static 'img/hh.ico' %}" alt="">
        Manchester United
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img src="{% static 'img/mila.ico' %}" alt="">
        Mila
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img src="{% static 'img/preto.ico' %}" alt="">
        Manchester United
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img src="{% static 'img/psg.ico' %}" alt="">
        Paris saint-germain

      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img src="{% static 'img/psg2.ico' %}" alt="">
        Paris saint-germain
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img src="{% static 'img/ZZ.ico' %}" alt="">
        Ajax
      </a>
    </div>
  </div>
  <footer class="main-footer mt-5 pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Entre em Contato</h3>
                <address>
                    +55 31 971726994
                    <br/>
                    <a href="Reizinho-importe@hotmail.com" 
                    class="text-light">Reizinho-imports@hotmial.com</a>
                </address>
            </div>
        </div>
    </div>
    <div class="rights pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} loja online. Todos direitos reservados.
                </div>
            </div>
        </div>
    </div>
</footer>

</div>