{% extends 'base/base.html' %}
{% load static %}
<title>{% block title %} Reizinho-importe Produtos{% endblock title %}</title>
{% block description %}Produtos{% endblock description%}
{% block body %}
  <header class="bg-dark py-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder"> Produtos importados </h1>
        <p class="lead fw-normal text-white-50 mb-0">Enviamos para todo o Brasil! 
          aceitado pagamento via cartão, depósito e transferêcia e pix <i class="bi bi-credit-card-fill"></i>
          <i class="bi bi-credit-card-2-front"></i><i class="bi bi-credit-card"></i>
        </p>
      </div>
    </div>
  </header>
<div class="container">
    <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Variedades de Produtos</h1>
    {% for produto in variedade%}
    <div class="container px-4 px-lg-5 mt-5">
    <hr class="mt-4mb-2">
    <div class="card h-100">
    <div class="row text-center text-lg-start">
      <div class="col-lg-4 col-md-5 col-8">{{ produto.nome }}
          <img class="img-fluid img-thumbnail" src="{{ produto.img.url }}" alt="Calção">
          <div class="d-flex justify-content-center small text-warning mb-2">
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
            <div class="bi-star-fill"></div>
          </div>
          <h5 class="fw-bolder">{{ produto.produto }}</h5>
          {{ produto.preco }}
        </div>
      </div>
      <!-- Product actions-->
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add no Carrinho</a></div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
<div>
{% endblock body %}