{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reizinho-imports</title>
    <meta name="description" content="">
    <meta name="author" content="Reizinho">
    <link rel="icon" href="{% static 'img/xereu.ico' %}" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Página Inicial</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Masculino</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Feminino</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Produtos</a>
    <a href="#" class="cart">Carrinho <span></span></a>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check-fill"
        viewBox="0 0 16 16">
        <path
            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708" />
    </svg>
</nav>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'base:home' %}">Reizinho-importe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">
                        O sucesso é a soma de pequenos esforços repetidos dia após dia.
                    </h5>
                    <p class="card-text">
                        <img src="{% static 'img/oi.ico' %}" alt="Foto Reizinho"
                            class="img-thumbnail float-left mr-3" />
                        instagram da loja
                        <a href="https://www.instagram.com/reizinhoimportsofc?igsh=NTJvcWVqY2tlcGIz"
                            target="_blank">Reizinho-importe</a>
                        <img src="{% static 'img/reizinho.ico' %}" class="img-fluid" alt="...">
                        O empreendedorismo é o processo de identificar oportunidades, desenvolver ideias inovadoras e
                        criar valor por meio da implementação dessas ideias. Os empreendedores são indivíduos
                        visionários que estão dispostos a assumir riscos, enfrentar desafios e buscar soluções criativas
                        para problemas.

                        O empreendedorismo envolve a capacidade de liderança, a habilidade de tomar decisões
                        estratégicas e a determinação de perseverar diante das adversidades. Os empreendedores são
                        agentes de mudança que buscam impactar positivamente suas comunidades e o mundo ao seu redor.

                        Além disso, o empreendedorismo promove a inovação, o crescimento econômico e a criação de
                        empregos. Os empreendedores desempenham um papel crucial no desenvolvimento de novas
                        tecnologias, produtos e serviços que melhoram a qualidade de vida das pessoas.

                        Em resumo, o empreendedorismo é uma força dinâmica que impulsiona o progresso e a inovação em
                        todas as áreas da sociedade, contribuindo para um futuro mais próspero e sustentável.
                    </p>
                    <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Produtos da Loja</h1>
                </div>
                <img src="{% static 'img/tenis.ico' %}" class="rounded float-start" alt="Tenis"><img
                    src="{% static 'img/bone.ico' %}" class="rounded float-start" alt="bone">
                <img src="{% static 'img/calçao.ico' %}" class="rounded float-end" alt="calção"><img
                    src="{% static 'img/jaqueta.ico' %}" class="rounded float-end" alt="jaqueta">
                <img src="{% static 'img/meia.ico' %}" class="rounded float-start" alt="meia"><img
                    src="{% static 'img/basquete.ico' %}" class="rounded float-start" alt="basquete">
                <img src="{% static 'img/perfume.ico' %}" class="rounded float-end" alt="perfume"><img
                    src="{% static 'img/feminino.ico' %}" class="rounded float-end" alt="Feminina">
                <img src="{% static 'img/tenis2.ico' %}" class="rounded float-start" alt="tenis2"><img
                    src="{% static 'img/mila.ico' %}" class="rounded float-start" alt="mila">
                  <img  src="{% static 'img/flamengo.ico' %}" class="rounded float-start" alt="flamengo">


            </div>
        </div>
    </div>
    </div>

    <footer class="main-footer col-md-15 pt-8 text-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Entre em Contato</h3>
                    <address>
                        +55 31 971726994
                        <br />
                        <a href="https://mail.google.com/mail/u/0/#inbox"
                            class="text-light">Reizinho-imports@hotmial.com</a>
                    </address>
                </div>
            </div>
        </div>
        <div class="rights pb-4">
            <div class="container">
                <div class="row">
                    <div class="col">
                        {% now 'Y' %} loja online. Todos direitos reservados.
                    </div>
                </div>
                <a href="https://wa.me/5531971726994" target="_blank" style="position:fixed;bottom:20px;right:30px;">
                    <svg enable-background="new 0 0 512 512" width="50" height="50" version="1.1" viewBox="0 0 512 512"
                        xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M256.064,0h-0.128l0,0C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104  l98.4-31.456C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z"
                            fill="#4CAF50" />
                        <path
                            d="m405.02 361.5c-6.176 17.44-30.688 31.904-50.24 36.128-13.376 2.848-30.848 5.12-89.664-19.264-75.232-31.168-123.68-107.62-127.46-112.58-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624 26.176-62.304c6.176-6.304 16.384-9.184 26.176-9.184 3.168 0 6.016 0.16 8.576 0.288 7.52 0.32 11.296 0.768 16.256 12.64 6.176 14.88 21.216 51.616 23.008 55.392 1.824 3.776 3.648 8.896 1.088 13.856-2.4 5.12-4.512 7.392-8.288 11.744s-7.36 7.68-11.136 12.352c-3.456 4.064-7.36 8.416-3.008 15.936 4.352 7.36 19.392 31.904 41.536 51.616 28.576 25.44 51.744 33.568 60.032 37.024 6.176 2.56 13.536 1.952 18.048-2.848 5.728-6.176 12.8-16.416 20-26.496 5.12-7.232 11.584-8.128 18.368-5.568 6.912 2.4 43.488 20.48 51.008 24.224 7.52 3.776 12.48 5.568 14.304 8.736 1.792 3.168 1.792 18.048-4.384 35.52z"
                            fill="#FAFAFA" />
                    </svg>
                </a>
            </div>
        </div>
    </footer>
    </div>
    </div>
    </div>