{% extends 'base/base.html' %}
{% load static %}
<title>{% block title %} Reizinho-importe Produtos{% endblock title %}</title>
{% block description %}femenino{% endblock description%}
{% block body %}
  <header class="bg-dark py-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder"> Produtos importados </h1>
        <p class="lead fw-normal text-white-50 mb-0">Enviamos para todo o Brasil! 
          aceitado pagamento via cartão, depósito e transferêcia e pix 
        </p>
      </div>
    </div>
  </header>
<div class="container">

    <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Variedades de Produtos</h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-start">
  
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'img/oi.ico' %}" alt="Calção">
          <h5 class="fw-bolder">Calção</h5>
          $40.00
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'img/tenis.ico' %}" alt="tenis">
          <h5 class="fw-bolder">Tenis</h5>
        $3.240.00
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'img/www.iplace.com.ico' %}" alt="relogio">
          <h5 class="fw-bolder">Watch App Ultra</h5>
          $1.240.00
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'img/tudo2.ico' %}" alt="conjunto">
          <h5 class="fw-bolder">Conjunto do  Tottenham</h5>
          $240.00
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'img/jaqueta.ico' %}" alt="jaqueta">
          <h5 class="fw-bolder">Jaqueta da Adidas</h5>
          $440.00
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'img/meia.ico' %}" alt="meia">
          $140.00
        </a>>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'img/bone.ico' %}" alt="bone">
          <h5 class="fw-bolder">Bone</h5>
          $240.00
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'img/p2.ico' %}" alt="perfume">
          <h5 class="fw-bolder">Perfume</h5>
        $840.00
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'img/oi2.ico' %}" alt="chuteira">
          <h5 class="fw-bolder">Chuteira</h5>
        $1.340.00
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'img/basquete.ico' %}" alt="basquete">
          <h5 class="fw-bolder">Conjuto de Basquete</h5>
        $540.00
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'img/calçao.ico' %}" alt="calção">
          <h5 class="fw-bolder">Calção</h5>
          $80.00
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{% static 'img/relogio.ico' %}" alt="relogio">
          <h5 class="fw-bolder">Relogio</h5>
          $3.240.00
        </a>
      </div>
    </div>
  </div>
  {% endblock body %}